<p>Enter the username and password!</p>
<form action="/login" method="post">
  <div>
    <label for="alias">Screen Name:</label>
    <input type="text" name="alias">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Sign Up">
    <input type="reset" value="Clear">
  </div>
</form>