<form name="input" action="/news" method="post">
  <div class="row-fluid text-center">
    <div class="span4">
      <h4>Personal Relevance</h4>
      <input type="text" class="slider" id="personal-relevance-slider" style="display:none">
    </div>
    <div class="span4">
      <h4>Time</h4>
      <input type="text" name="time" id="time" value="<%= Article.earliest_time_range %> - <%= Article.latest_time_range %>"/>
    </div>
    <div class="span4">
      <h4>Objective Importance</h4>
      <input type="text" class="slider" id="objective-importance-slider" style="display:none">
    </div>
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
<script type="text/javascript">
  $('#time').daterangepicker(
    { 
      format: 'YYYY-MM-DD',
      startDate: '<%= Article.earliest_time_range %>',
      endDate: '<%= Article.latest_time_range %>'
    },
    function(start, end) {
      alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    }
  );
  $('.slider').slider({
    min: 0,
    max: 100,
    step: 1
  }).on('slideStop', function(ev){
    ev
  });
</script>
