<span class="span6 text-center"><h2><%= partial "/articles/title", :locals => {:article => article} %></h2></span>
<p><%= partial "/articles/byline", :locals => {:article => article} %></p>
<%= partial "/articles/content", :locals => {:article => article} %>