<span class="span12 text-center">
  <h1><%= partial "/articles/title", :locals => {:article => article} %></h1>
  <p><%= partial "/articles/byline", :locals => {:article => article} %></p>
  <%= partial "/articles/content", :locals => {:article => article} %>
</span>